#projects > div > div > div > h1, #projects p.card-text {
    text-align: center;
}

#projects h1.text-body-emphasis {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 0;
    opacity: .75;
    list-style-type: square;
}





@media (max-width: 425px) {
    #resume .p-5 {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }
    
    ul.nav.nav-pills {
        display: none;
    }
}

@media (max-width: 768px) {
    #resume .p-5 {
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
    }
}