#projects > div > div > div > h1, #projects p.card-text {
    text-align: center;
}

#projects h1.text-body-emphasis {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 0;
    opacity: .75;
    list-style-type: square;
}